body {
    font-family: 'Nothing You Could Do', cursive;
    margin:0;
    position: absolute;
}

#stringed-title-text {

    z-index: 1000;
    position: absolute;
    margin-left: 10px;
    font-size: 22px;


}